<ActionBar title="Crea una cuenta" class="action-bar"></ActionBar>

<FlexboxLayout flexDirection="column" class="registration-form" alignItems="center">
    <Label text="Email"></Label>
    <TextField hint="Correo eletrónico" keyboardType="email"></TextField>

    <Label text="Contraseña"></Label>
    <TextField hint="Contraseña de al menos 6 caracteres" secure="true"></TextField>

    <Label text="Confirmar contraseña"></Label>
    <TextField hint="Confirma tu contraseña" secure="true"></TextField>

    <Button text="Ingresar a tu cuenta" class="btn-primary"></Button>
    <Button text="Registro" class="btn-flat" (tap)="goToSignUp()"></Button>
</FlexboxLayout>
