<ActionBar title="Crea una cuenta" class="action-bar"></ActionBar>

<FlexboxLayout flexDirection="column" class="registration-form" alignItems="center">
    <Label text="Email"></Label>
    <TextField hint="Correo eletrónico" keyboardType="email" [(ngModel)]="email"></TextField>

    <Label text="Contraseña"></Label>
    <TextField hint="Contraseña de al menos 6 caracteres" secure="true" [(ngModel)]="password"></TextField>

    <Label text="Confirmar contraseña"></Label>
    <TextField hint="Confirma tu contraseña" secure="true" [(ngModel)]="passwordConfirmation"></TextField>

    <Button text="Crear cuenta" (tap)="signUp()" class="btn-primary"></Button>
</FlexboxLayout>
